.main {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
}

.sidebar {
  width: 300px;
  padding: 4px 8px;
  border-radius: 7px 0 0 7px;
  background-color: rgba(0, 0, 0, 0.04);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
  transition: 100ms ease-in-out;
  transition-property: background-color;
  overflow: hidden;

  &.error {
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      inset: 0;
      background-color: rgba(255, 0, 0, 0.08);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.body {
  flex: 1 1 auto;
}
