.main {
  display: flex;
  border: 1px solid var(--neutral-300);
  border-radius: 8px;
  box-shadow: 0 1px 0 0 var(--neutral-200);
}

.sidebar {
  width: 300px;
  padding: 4px 8px 8px 8px;
  border-radius: 7px 0 0 7px;
  background-color: var(--neutral-100);
  border-right: 1px solid var(--neutral-300);
  position: relative;
  transition: 100ms ease-in-out;
  transition-property: background-color;
  overflow: hidden;

  &.error {
    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      inset: 0;
      background-color: rgba(255, 0, 0, 0.08);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.headerGroup {
  display: flex;
  gap: 4px;
  align-items: center;
  flex: 1;
}

.body {
  flex: 1 1 auto;
  border-radius: 0 7px 7px 0;
  z-index: 1;

  &:focus-within {
    box-shadow: 0 0 0 1px var(--accent), 0 1px 0 1px var(--accent);
  }
}
