@import "../shared.scss";

.main {
  @include inputReset();
  padding: 0;
  font-size: 16px;;
  line-height: 20px;
  color: var(--text-500);

  &::placeholder {
    color: var(--text-100);
  }

  &.bold {
    font-weight: 500;
  }
}
